{% extends "base.html" %}
{% load track_tags %}
{% load static %}

{% block title %} COVID Data for {{ country }}{% endblock %}

{% block content %}
	{% if Data|is_str == 'str' %}
		<h1>No Data for country</h1>
		<p>Please try again by changing up the search query</p>
	{% else %}
		<h2>Basic COVID Charts for Country: </h2>
		<div class="pb-3">
			<div class="row mx-3">
				<iframe src="https://ourworldindata.org/coronavirus-data-explorer?zoomToSelection=true&country=~{{ region }}&region=World&deathsMetric=true&interval=total&hideControls=true&smoothing=0&pickerMetric=location&pickerSort=asc" loading="eager" style="width: 50%; height: 500px; border: 0px none;"></iframe>
				<iframe src="https://ourworldindata.org/grapher/daily-tests-and-daily-new-confirmed-covid-cases?tab=chart&stackMode=absolute&country=~{{ region }}&region=World" loading="eager" style="width: 50%; height: 500px; border: 0px none;" class="p-3"></iframe>
			</div>
		</div>
		<h2>Advanced COVID Charts for Country: </h2>
		<div class="row mx-3" id="charts">
			<canvas id="myChart" class="pr-5" style="width: 50%; height: 400px;"></canvas>
			<canvas id="myChart2" class="pr-5"style="width: 50%; height: 400px;"></canvas>
			<canvas id="myChart3" class="pr-5"style="width: 50%; height: 400px;"></canvas>
			<canvas id="myChart4" class="pr-5"style="width: 50%; height: 400px;"></canvas>

		</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Total Tests', "Total Cases"],
        datasets: [{
            label: '# of cases',
					data: [{{ TotalTests }}, {{ ChartTotalCases }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',

            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
			title: {
				display:true,
				text: "Total Tests vs Total Cases"
			},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
				responsive: false
    }
});
var ctx2 = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx2, {
    type: 'doughnut',
    data: {
        labels: ['Total Cases', 'Total Deaths'],
        datasets: [{
            label: '# of cases',
					data: [{{ ChartTotalCases }}, {{ ChartTotalDeaths }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
			title:{
				display:true,
				text:"Total Cases vs Total Deaths"
			},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
			responsive: false

    }
});
var ctx3 = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx3, {
    type: 'pie',
    data: {
        labels: ['Total Population', 'Total Cases'],
        datasets: [{
            label: '# of cases',
					data: [{{ TotalPopulation }}, {{ ChartTotalCases }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
			title:{
				display: true,
				text: "Total Population vs Total Cases"
			},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
			responsive: false

    }
});
var ctx4 = document.getElementById('myChart4').getContext('2d');
var myChart4 = new Chart(ctx4, {
    type: 'polarArea',
    data: {
        labels: ['Total Population', 'Total Vaccinations'],
        datasets: [{
            label: '# of cases',
					data: [{{ TotalPopulation }}, {{ TotalVaccinations }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
			title: {
				display: true,
				text: "Population vs Vaccinations"

			},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
			responsive: false

    }
});


</script>
		<h2> Table of Cases: </h2>
		<button type="button" class="btn btn-secondary btn-lg" onclick="show()">Show/Hide Table</button>
		<div id="tableDIV" style="display:none">
			<table class="table table-hover pt-3">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">New Cases</th>
					<th scope="col">Total Cases</th>
					<th scope="col">New Deaths</th>
					<th scope="col">Total Deaths</th>
				</tr>
			</thead>
			{% for Date, NewCases, TotalCases, NewDeaths, TotalDeaths in Data %}

			<tbody>
					<tr class="table-active">
						<th scope="row">{{ Date }}</th>
						<td>{{ NewCases }}</td>
						<td>{{ TotalCases }}</td>
						<td>{{ NewDeaths }}</td>
						<td>{{ TotalDeaths }}</td>
					</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	{% endif %}
{% endblock %}
